body
	{
	 text-align:center;
	 width:100%;
	 margin:0 auto;
	 padding:0px;
	 font-family:helvetica;
	 background-color:#81DAF5;

	 background: url(https://dl.dropboxusercontent.com/s/umm6eiyqwvao5pu/pexels-photo-94438.jpg?dl=0) no-repeat center center fixed; 
	 -webkit-background-size: cover;
	 -moz-background-size: cover;
	 -o-background-size: cover;
	 background-size: cover;
	}
#wrapper
	{
	 text-align:center;
	 margin:0 auto;
	 padding:0px;
	 width:995px;
	}


// --------------------------------------
// typography
// --------------------------------------

// h1
// 	{
// 	 margin-top:150px;	
// 	 color:white;
// 	 font-size:45px;
// 	}

// --------------------------------------
// navigation
// --------------------------------------

.navigation {
	
	@include media-breakpoint-up(sm) {
		position: fixed;
		display: block;

	}
}

.navigation--containter {

}


// --------------------------------------
// Main
// --------------------------------------

.main {

}

.main--contianter {

}


// --------------------------------------
// footer
// --------------------------------------

.footer {

}

.footer--container {

}
