@import "assets/scss/normalize";

@import "assets/scss/functions";
@import "assets/scss/variables";
@import "assets/scss/mixins";
@import "assets/scss/root";
@import "assets/scss/reboot";
@import "assets/scss/type";
@import "assets/scss/images";
@import "assets/scss/code";
@import "assets/scss/grid";
@import "assets/scss/tables";
@import "assets/scss/forms";
@import "assets/scss/buttons";
@import "assets/scss/transitions";
@import "assets/scss/dropdown";
@import "assets/scss/button-group";
@import "assets/scss/input-group";
@import "assets/scss/custom-forms";
@import "assets/scss/nav";
@import "assets/scss/navbar";
@import "assets/scss/card";
@import "assets/scss/breadcrumb";
@import "assets/scss/pagination";
@import "assets/scss/badge";
@import "assets/scss/jumbotron";
@import "assets/scss/alert";
@import "assets/scss/progress";
@import "assets/scss/media";
@import "assets/scss/list-group";
@import "assets/scss/close";
@import "assets/scss/modal";
@import "assets/scss/tooltip";
@import "assets/scss/popover";
@import "assets/scss/carousel";
@import "assets/scss/utilities";
@import "assets/scss/print";

body
{
 text-align:center;
 width:100%;
 margin:0 auto;
 padding:0px;
 font-family:helvetica;
 background-color:#81DAF5;

 background: url(https://dl.dropbox.com/s/umm6eiyqwvao5pu/pexels-photo-94438.jpg?dl=0) no-repeat center center fixed; 
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}
#wrapper
{
 text-align:center;
 margin:0 auto;
 padding:0px;
 width:995px;
}
h1
{
 margin-top:150px;	
 color:white;
 font-size:45px;
}

// --------------------------------------
// Color
// --------------------------------------
$black: 		#000000;
$white:			#ffffff;
$grey: 			#212121;
$sky-blue: 		#81DAF5;
$light-green: 	#daf6cc;


// --------------------------------------
// Body Html
// --------------------------------------
body, html {
	 font-family: 'Roboto', sans-serif;
	 font-size: 12px;
}

body {
	position: relative;
	display: block;
	width: 100vw;
	height: auto;

	background-color: $white;


	@include media-breakpoint-up(sm) {}

	}
	


// --------------------------------------
// typography
// --------------------------------------
h1,h2,h3,h4,a,p {
	font-family: 'Roboto', sans-serif;
	
}

h1 {
	font-size:4rem;
	color: $black;
}

h2 {
	font-size:3rem;
	color: $black;
}

h3 {
	font-size:1.5rem;
	font-weight: 400;
	color: $black;
}

// h4 {
// 	font-size:1rem;
// 	color: $black;
// }



// --------------------------------------
// Main
// --------------------------------------

.main {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	overflow: scroll;
	
}

.main--contianter {
	position: relative;
	width: 100%;
	height: auto;
	

}

// --------------------------------------
// Scanner
// --------------------------------------

.scanner {
	position: relative;
	width: 100%;
	height: auto;	
	
}

.scanner--container {
	position: relative;
	width: 100%;
	height: 100%;

}

// --------------------------------------
// Infovis
// --------------------------------------

.infovis {
	position: relative;
	width: 100%;
	height: 100vh;
	background-color: skyblue;	

}

.infovis--container {
	position: relative;
	width: 100%;
	height: 100%;
}


